page-all-substitute {
  .jobRight
  {
    width: 20%;
    float: right;
  }
  .jobLeft
  {
    overflow: hidden;
    width: 70%;
    float: right;
    margin-right: 5%;
    margin-top:0px;
  }

  .jobLeft h2
  {
    margin-top:-4px
  }

  .time
  {
    overflow: hidden;
  }
  .timeLeft
  {
    width: 50%;
    float: right;
  }

  .timeLeft h3
  {
    font-weight: bold;
    font-size: 18px;
  }

  .timeRight
  {
    width: 50%;
    float: left;
  }

  .item-select select {
     margin-right: 10px;
    text-indent: 15px;
    height: 44px;
    border: 1px solid #f5f5f5;
    text-shadow: 0 0 3px #f5f5f5, 0 0 5px #f5f5f5;
  }



  .selectRegion1
  {
    direction: rtl;
    width: 100%;
    border: 1px solid #e5e5e5;
    padding: 0px !important;
    height: 10px !important;
    background-color: white;
  }

  //.selectRegion1 .input-wrapper
  //{
  //
  //  padding: 0px !important;
  //  height: 30px !important;
  //}
  //
  //.selectRegion1 .item-inner
  //{
  //
  //  height: 10px !important;
  //}

  .selectRegion2
  {
    direction: rtl;
    width: 100%;
    border: 1px solid #f5f5f5;
    background-color: white;
    padding: 12px 5px !important;
  }

  .filter {
    width: 100%;
    overflow: hidden;
    margin-top: -5px;
  }

  .filterRight
  {
    width: 68%;
    float: right;
    text-align: right !important;
    direction: rtl !important;
  }

  .filterLeft
  {
    width: 32%;
    float: left;
    margin-top: 7px;
  }


    ion-searchbar {
     text-align: right !important;
      direction: rtl !important;
      float: right;
      right :0px;
    }

  .Types
  {
    display: flex;
    margin-top: -10px;
    margin-bottom:10px;
  }

  .typeLeft
  {
    flex: 1;
  }

  .typeRight
  {
    flex: 1;
  }

  .buttonColor1
  {
    background-color:#2d2d2d ;
  }

  .buttonColor2
  {
    background-color:#4885ed;
  }

  .Types button
  {
    width:97%;
  }

}
