<!--
  Generated template for the UserJobsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header xmlns="http://www.w3.org/1999/html">

  <ion-navbar hideBackButton >
    <button class="HeaderMenuButton"  ion-button icon-only menuToggle end>
      <ion-icon name="md-menu"></ion-icon>
    </button>
    <ion-title align="center" class="HeaderTitle">  <span class="HeaderSubTitle">המשרות שלי</span> </ion-title>
    <ion-buttons>
      <button ion-button icon-only (click)="openModal()" class="HeaderLeftButton">
        <ion-icon name="ios-add-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div>
        <ion-list>
          <ion-item  text-wrap detail-push *ngFor="let job of jobs let i=index" side="right" style="direction:rtl">
              <div class="jobRight">
                  <img *ngIf="job.Image == ''" class="thumb" src="https://wordsmith.org/words/images/avatar2_large.png" style="width: 100%" />
                  <img *ngIf="job.Image != ''" class="thumb" src="{{host}}{{job.Image}}" style="width: 100%" />
              </div>
              <div class="jobLeft">
                  <div class="time">
                      <div class="timeLeft">

                          <h3>  {{getCurrentDate(job.created_at)}}  </h3>
                      </div>
                      <div class="timeRight">
                          <h3 style="direction: rtl">שעה : {{getCurrentTime(job.created_at)}}</h3>
                      </div>
                      <div class="edit" (click)="updateModal(i)">
                          <img src="images/edit.png" style="width: 100%" />
                      </div>
                  </div>
                  <hr style="margin:0px;">
                  <h2>{{job.info}}</h2>
                  <h2 class="jobDate">תאריך : {{reversDate(job.Date2)}} </h2>
                  <h2 class="jobDate"><span> התחלה : {{job.Time2}}</span>&nbsp;&nbsp;  סיום : {{cutTime(job.end_time)}}&nbsp;</h2>
                  <button ion-button (click)="open_close_project(job)">{{checkState(job.is_close)}}</button>
                  <button ion-button (click)="open_project_bid(i)" style="background-color: red">{{job.bids.length}} הצעות הוגשו</button>
              </div>
          </ion-item>
        </ion-list>
    </div>
</ion-content>
