page-chat {
  .footerClass {
    background-color:transparent !important;
    background-image:url("../images/bck.jpg");
    background-size: 100%;
  }

  .chatFooterDiv {
    width: 100%;
    overflow: hidden;
    text-align: right;
    background-color: red;
    background-image:url("../images/bck.jpg");
    background-size: 100%;
  }

  .chatFooterDivRight {
    float: right;
    width: 82%;
    margin-top: 12px;
    margin-right: 10px;
    text-align: right !important;
  }

  .backgroundImage
  {
    position: absolute;
    overflow: hidden;
    height: 100%;
  }

  .ContentClass
  {
    height: 100%;
    overflow: hidden;
    background-image:url("../images/bck.jpg");
    background-size: 100%;
  }

  .chatFooterDivLeft
  {
    float: left;
    width: 11.5%;
    margin-top: 11px;
    margin-left: 10px;
  }

  .chatContent
  {
    position: relative;
    text-align: center;
    margin-top: 20px;
    overflow-y: scroll;
  }

  .chatInput{
    text-align: right !important;
    direction: rtl;
  }

  .chatInput1
  {
    text-align: right !important;
    direction: rtl;
    background-color:white;
    border: none;
    width: 100%;
    border-radius:10px;
    padding: 8px;
  }

  .chatCircle
  {
    width: 40px;
    height: 40px;
    background-color:#f5f5f5;
    border-radius: 20px;
  }

  .sendIcon
  {
    font-size: 50px;
    color: black;
    margin-top: -5px;
  }

  .imageclass
  {
    width: 100%;
  }

  .chatMessage
  {
    width: 100%;
    overflow: hidden;
  }

  .chatMessageRight
  {
    float: right;
    margin-right: 10px;
    width: 20%;
  }

  .chatMessageRight img
  {
    border-radius: 50%;
  }

  .chatMessageLeft
  {
    float: right;
    margin-right: 10px;
    width: 70%;
    text-align: right;
    direction: rtl;
    background-color: white;
    border-radius: 3%;
    padding: 1px 10px;
    margin-top: 17px;
  }

  .chatTitle
  {
    overflow: hidden;
    width: 100%;
  }

  .chatTitleLeft
  {
    width: 65%;
    float: left;
    text-align: left;
    padding-left: 5px;
    color: #855ba4;
    font-size: 12px;
    font-weight: bold;
    margin-top: 12px;
    overflow: hidden;
  }

  .chatDate
  {
    font-size:12px;
    color: #000;
    float: left;
    margin-right: 22px;
    font-weight: 100;
    margin-top:0px;
  }

  .chatTime
  {
    float: left;
  }

  .chatTitleRight
  {
    width:33%;
    float: right;
    color: #855ba4;
    font-size: 12px;
    font-weight: bold;
  }

  .chatMessageLeftP
  {
    margin-top: -5px;
    font-size: 16px;
  }
}
