<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
--><ion-header xmlns="http://www.w3.org/1999/html">

  <ion-navbar hideBackButton>
    <ion-title align="center" class="HeaderTitle" style="margin-top:2px;"> צהלה <span class="HeaderSubTitle">צ'ט</span> </ion-title>
    <ion-buttons left>
      <button ion-button (click)="goBack()" icon-only>
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="ContentClass">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="chatContent" id="chatContent" #scrollMe [scrollTop]="scrollMe.scrollHeight">

    <div class="chatMessage" *ngFor="let message of ChatArray">

      <div class="chatMessageRight">
        <img *ngIf="message.SenderImage != ''" src="{{phpHost}}{{message.SenderImage}}" class="imageclass"/>
        <img *ngIf="message.SenderImage == ''" src="https://wordsmith.org/words/images/avatar2_large.png" class="imageclass"/>
      </div>
      <div class="chatMessageLeft">
        <div class="chatTitle">
          <div class="chatTitleLeft">
            <div class="chatTime">{{getHour(message.date)}}</div>
            <div class="chatDate"> {{cutDate(message.date)}}&nbsp; | &nbsp;  </div>
          </div>
          <div class="chatTitleRight">
            <p>{{message.SenderName}}</p>
          </div>
        </div>

        <p class="chatMessageLeftP">{{message.title}}</p>
      </div>

    </div>

  </div>
</ion-content>



<ion-footer class="footerClass">
    <div class="chatFooterDiv" align="center">
        <div class="chatFooterDivRight">
            <ion-item align="center" class="TextContent">
                <!--<ion-textarea (input)="autoSize()" class="chatInput" id="myInput" rows="1"    autosize placeholder="הוסף הודעה" name="title"  [(ngModel)]="chatText" (keypress)="enterPress($event)"></ion-textarea>-->
                <ion-textarea (input)="autoSize();"  class="chatInput" rows="1"  autosize placeholder="הוסף הודעה" [(ngModel)]="chatText"></ion-textarea>

            </ion-item>
        </div>
        <!--<div class="chatFooterDivLeft" (click)="addChatTitle()">-->
            <!--<img src="images/addchat.png" class="imageclass"/>-->
        <!--</div>-->

        <div class="chatFooterDivLeft" (click)="addChatTitle()">
            <div class="chatCircle">
            <ion-icon name="ios-arrow-dropleft" class="sendIcon"></ion-icon>
            </div>
            <!--<img src="images/addchat.png" class="imageclass"/>-->
            </div>
    </div>

</ion-footer>