<!-- Generated template for the AddJobModalComponent component -->
<div class="Content">
  <div class="title">
  שלחי הצעה
  </div>

  <form #f="ngForm" class="Form" >
    <ion-list>
      <ion-item style="text-align: right !important;">
        <ion-textarea  [(ngModel)]="title1" type="text"  name="title" style="text-align: right !important; direction: rtl;" placeholder="כתבי פרטי ההצעה"></ion-textarea >
      </ion-item>
    </ion-list>

    <div style="width: 100%; margin-top: 50px;" align="center">
      <div style="width: 80%" align="center">
        <button type="submit" ion-button block (click)="onSubmit(f,1)">שלחי הצעה</button>
        <button ion-button block (click)="onSubmit(f,0)" style="background-color: red">סגרי הצעה </button>
      </div>
    </div>

  </form>
</div>
