
<!--</ion-content> selectedIndex={{SelectedIndex}}-->


    <ion-content padding>
        <ion-tabs *ngIf="UserType == 1" selectedIndex="{{SelectedIndex}}" color="primary">
            <ion-tab  [root]="tab3Root" tabTitle="הודעות" tabIcon="mail" tabIndex=0 tabBadge={{messagesLen}}></ion-tab>
            <ion-tab  [root]="tab2Root" tabTitle="המשרות שלי" tabIndex=1 tabIcon="calendar" tabBadge={{Settings.JobsCount}}></ion-tab>
            <ion-tab [root]="tab6Root" [rootParams]="4"  tabTitle="סייעות מחליפות" tabIndex = 3 tabIcon="calendar" ></ion-tab>
            <ion-tab  [root]="tab1Root" [rootParams]="3" tabTitle="גננות מחליפות" tabIndex=2 tabIcon="people" ></ion-tab>
        </ion-tabs>

        <ion-tabs *ngIf="UserType == 2" selectedIndex="{{SelectedIndex}}" color="primary">
            <ion-tab [root]="tab3Root" tabTitle="הודעות" tabIcon="mail" tabIndex = 0 tabBadge={{messagesLen}}></ion-tab>
            <ion-tab [root]="tab5Root" [rootParams]="4" tabTitle="משרות סייעות" tabIcon="calendar" tabIndex = 0 tabBadge={{Settings.openJobsType4}}></ion-tab>
            <ion-tab [root]="tab4Root" [rootParams]="3"  tabTitle="משרות גננות" tabIndex = 3 tabIcon="calendar" tabBadge={{Settings.openJobsType3}}></ion-tab>
            <ion-tab [root]="tab7Root"  [rootParams]="2" tabTitle="אלפון" tabIndex = 5 tabIcon="calendar"></ion-tab>
        </ion-tabs>
    </ion-content>
