page-notes {
  .jobRight
  {
    width: 20%;
    float: right;
  }
  .jobLeft
  {
    overflow: hidden;
    width: 70%;
    float: right;
    margin-right: 5%;
    margin-top:1px;
  }

  .time
  {
    overflow: hidden;
  }
  .timeLeft
  {
    width: 90%;
    float: right;
  }
  .timeRight
  {
    width: 10%;
    float: left;
  }

  .HeaderLeftButton
  {
    background-color: none;
  }

  .deleteIcon
  {
    font-size: 23px;
    margin-top: 8px;
  }
}
