<!--
  Generated template for the AllSubstitutePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="Header">

  <ion-navbar >
    <button class="HeaderMenuButton"  ion-button icon-only menuToggle end>
      <ion-icon name="md-menu"></ion-icon>
    </button>
    <ion-title class="HeaderTitle"> צהלה <span class="HeaderSubTitle">עמוד מחליפות</span> </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div>
    <ion-list>
      <button ion-item text-wrap detail-push *ngFor="let sub of Substitute" side="right" style="direction:rtl">
        <div class="jobRight">
          <img src="images/i1.png" style="width: 100%" />
        </div>
        <div class="jobLeft">
          <div class="time">
            <div class="timeLeft">
              <h3> שם : {{sub.name}}</h3>
            </div>
          </div>
          <h2>{{sub.address}}</h2>
        </div>
      </button>
    </ion-list>
  </div>
</ion-content>
