add-job-modal {
  .Content
  {
    background-color: white;
    height: 100%;
    text-align: center;
  }

  .title
  {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
  }

  .footerImage
  {
    position: absolute;
    bottom: 0px;
    height:260px;
  }

  .trainingText {
    position: relative;
    margin-top: 20px;
  }

  .add_new_Training
  {
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size:18px;
  }

  .backgroundImage
  {
    position: absolute;
  }

  .Form
  {
    direction: rtl !important;
    margin-top:-20px;
  }

  .formElement
  {
    background-color: inherit;
  }

  .footerClass
  {
    height:0px;
  }

  .footerClass img
  {
    top:0px;
    position: relative;
    width: 100%;
    height:10px;
  }

  .closeButton
  {
    color: white;
    border-radius: 150px;
    padding: 0px;
    font-size: 20px;
    float: right;
  }

  .Bt
  {
    border-radius:100% !important;
    background-color: red;
  }
}
