<!--
  Generated template for the OpenJobsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header xmlns="http://www.w3.org/1999/html">
  <ion-navbar >
    <button class="HeaderMenuButton"  ion-button icon-only menuToggle end>
      <ion-icon name="md-menu"></ion-icon>
    </button>
    <ion-title align="center" class="HeaderTitle"> צהלה <span class="HeaderSubTitle">המשרות שלי</span> </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div>
    <div class="filter">
      <div class="filterRight">
        <ion-item class="selectRegion1">
          <ion-label>בחר איזור</ion-label>
          <ion-select [(ngModel)]="Area">
            <ion-option value="{{area.id}}" *ngFor="let area of Regions">{{area.name}}</ion-option>
          </ion-select>
        </ion-item>
      </div>
      <div class="filterRight">
        <ion-item class="selectRegion1">
          <ion-label> בחרי סוג </ion-label>
          <ion-select [(ngModel)]="Type">
            <ion-option value="{{type.id}}" *ngFor="let type of SortType">{{type.name}}</ion-option>
          </ion-select>
        </ion-item>
      </div>
    </div>
    <ion-list>
      <ion-item  text-wrap detail-push *ngFor="let job of jobs let i=index" side="right" style="direction:rtl">
        <div class="jobRight">
          <img *ngIf="job.Image == ''" class="thumb" src="https://wordsmith.org/words/images/avatar2_large.png" style="width: 100%" />
          <img *ngIf="job.Image != ''" class="thumb" src="{{host}}{{job.Image}}" style="width: 100%" />
        </div>
        <div class="jobLeft">
          <div class="time">
            <div class="timeLeft">
              <h3> תאריך : {{job.Date2}}</h3>
            </div>
            <div class="timeRight">
              <h3 style="direction: rtl">שעה : {{job.Time2}}</h3>
            </div>
          </div>
          <hr style="margin:0px;">
          <h2>{{job.info}}</h2>

          <button *ngIf="job.isBid == 0" ion-button (click)="presentPrompt(i)">הגישי הצעה</button>
          <button *ngIf="job.isBid != 0" ion-button>נשלחה הצעה לעבודה</button>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
