<!-- Generated template for the AddJobModalComponent component -->
<div class="Content">
  <div class="title">
    הכנסת משרה
  </div>

    <form #f="ngForm" class="Form"  (ngSubmit)="onSubmit(f)">
        <ion-list>

            <ion-item class="formElement">
                <ion-label>בחר תאריך</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="date" name="date"></ion-datetime>
            </ion-item>

            <ion-item class="formElement">
                <ion-label>בחר שעה</ion-label>
                <ion-datetime displayFormat="HH:mm " pickerFormat="HH mm " [(ngModel)]="time" name="time"></ion-datetime>
            </ion-item>

            <ion-item class="formElement" *ngIf="isDataAvailable">
                <ion-label>בחר סוג אימון</ion-label>
                <ion-select [(ngModel)]="type" name="type">
                    <ion-option
                            *ngFor="let option of TrainingsTypes let i=index"
                            [value]=i>{{option.title}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-textarea [(ngModel)]="info" name="info" placeholder="הכניסי תיאור המשרה"></ion-textarea>
            </ion-item>

        </ion-list>

        <div style="width: 100%; margin-top: 50px;" align="center">
            <div style="width: 80%" align="center">
                <button type="submit" ion-button block>דווח </button>
            </div>
        </div>

    </form>
</div>
